:root {
    --text-medium-normal-font-family: "Roboto", Helvetica;
    --text-medium-normal-font-size: 18px;
    --text-medium-normal-font-style: normal;
    --text-medium-normal-font-weight: 400;
    --text-medium-normal-letter-spacing: 0px;
    --text-medium-normal-line-height: 150%;
    --text-regular-normal-font-family: "Roboto", Helvetica;
    --text-regular-normal-font-size: 16px;
    --text-regular-normal-font-style: normal;
    --text-regular-normal-font-weight: 400;
    --text-regular-normal-letter-spacing: 0px;
    --text-regular-normal-line-height: 150%;
  }